<div class="card-financeiro">
  <div class="info-container-top" 
       (mouseenter)="exibirExplicacao.set(true)" 
       (mouseleave)="exibirExplicacao.set(false)"
       (click)="toggleExplicacao()">
    
    <span class="info-icon">i</span>
    
    @if (exibirExplicacao()) {
      <div class="info-tooltip">
        Simulador de câmbio em tempo real. Digite um valor em USD para converter instantaneamente para as principais divisas globais.
      </div>
    }
  </div>

  <div class="header-section">
    <h2 class="card-title">Câmbio Real-Time</h2>        
  </div>


  <div class="conversor-input-group">
    <span class="prefix">USD</span>
    <input type="number" 
           [value]="valorParaConverter()" 
           (input)="atualizarValorConversao($event)"
           placeholder="Valor para converter...">
  </div>

  
  <div class="lista-moedas-container">
    @for (moeda of listaMoedas(); track moeda.sigla) {
      <div class="linha-moeda">
        <div class="flag-container">
          <img [src]="'https://flagcdn.com/w80/' + getFlagCode(moeda.sigla) + '.png'" 
               [alt]="moeda.sigla"
               (error)="$any($event.target).src = 'https://flagcdn.com/w80/un.png'">
        </div>
        
        <div class="info-pais">
          <span class="nome">{{ moeda.nome }}</span>
          <span class="sigla">{{ moeda.sigla }}</span>
        </div>

        
        <div class="valor">
          {{ formatarValor(moeda.valor * valorParaConverter()) }}
        </div>
        
      
        <div class="ponto-luz" 
             [class.subindo]="moeda.valor < moeda.anterior" 
             [class.caindo]="moeda.valor > moeda.anterior">
        </div>
      </div>
    }
  </div>

  <div class="status-text">
    Sincronizado: {{ ultimaAtualizacao() }}
  </div>
</div>
