<div class="card-noticias">
    <div class="info-container-top" 
         (mouseenter)="exibirExplicacao.set(true)" 
         (mouseleave)="exibirExplicacao.set(false)"
         (click)="toggleExplicacao()"
         role="button" 
         aria-label="Informações sobre as notícias">
        
        <span class="info-icon">i</span>
        
        @if (exibirExplicacao()) {
          <div class="info-tooltip">
            Monitoramento estratégico de eventos geopolíticos e fluxos de capitais globais. Clique na notícia para ler no portal oficial.
          </div>
        }
    </div>

    <div class="header">
        <div class="live-indicator">
            <span class="ponto"></span>
            <h3>NOTÍCIAS ESTRATÉGICAS</h3>
        </div>
    </div>

    <div class="feed-container">
        @for (item of noticias(); track item.title) {
            <a [href]="item.url" 
               target="_blank" 
               rel="noopener noreferrer" 
               style="text-decoration: none; color: inherit; display: block; margin-bottom: 15px;">
                
                <div class="noticia-card">
                    <div class="thumb-container">
                    
                        <img [src]="item.urlToImage" 
                             alt="Capa da Notícia: {{ item.title }}" 
                             (error)="substituirImagemErro($event)">
                        <span class="fonte-tag">{{ item.source.name }}</span>
                    </div>

                    <div class="info">
                        <h4 class="manchete">{{ item.title }}</h4>
                        <div class="footer-noticia">
                            <span class="tempo">Live Feed</span>
                            <span class="leia-mais">Ler no portal oficial →</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
