<main class="dashboard-wrapper"> 
  <app-header ngSkipHydration></app-header>

  <header class="status-row">
    <div class="col-cambio">
      <app-card ngSkipHydration></app-card> 
    </div>
    <div class="col-indicadores">
      <app-sentimento-mercado ngSkipHydration></app-sentimento-mercado>
      <app-ciclo-de-juros ngSkipHydration></app-ciclo-de-juros>
    </div>
  </header>

  <section class="map-row">
    <app-mapa-mundi ngSkipHydration></app-mapa-mundi>
  </section>

  <section class="analysis-row">
    <app-fluxo-ativos ngSkipHydration></app-fluxo-ativos>
    <app-monitor-geopolitico ngSkipHydration></app-monitor-geopolitico>
  </section>

  <footer class="intelligence-row">
    <div class="col-noticias">
      <app-noticias-noticias ngSkipHydration></app-noticias-noticias>
    </div>
    <div class="col-relatorio">
      <app-relatorio-fechamento ngSkipHydration></app-relatorio-fechamento>
    </div>
  </footer>
</main>
