<div class="card-juros">
  <div class="info-container-top" 
       (mouseenter)="exibirExplicacao.set(true)" 
       (mouseleave)="exibirExplicacao.set(false)"
       (click)="toggleExplicacao()">
    
    <span class="info-icon">i</span>
    
    @if (exibirExplicacao()) {
      <div class="info-tooltip">
        Taxas de juros referenciais definidas pelos Bancos Centrais. Influenciam o fluxo de capital global e a atratividade da moeda.
      </div>
    }
  </div>

  <h3 class="titulo">Ciclo de Juros (Anual)</h3>

  <div class="lista-juros">
    @for (item of taxas(); track item.sigla) {
      <div class="item-juros">
        <div class="info">
          <span class="pais">{{ item.pais }}</span>
          <span class="valor">{{ formatarTaxa(item.valor) }}</span>
        </div>
        <div class="barra-container">
          <div class="barra-progresso" 
               [style.width.%]="(item.valor / 15) * 100"
               [style.background-color]="item.cor">
          </div>
        </div>
        <span class="sigla-taxa">{{ item.sigla }}</span>
      </div>
    }
  </div>
</div>
